.navbar-container {
	min-height: 5rem;
	width: 100vw;
	background-color: #00bfff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 2.5vw;
}

.navbar-container .navbar-text {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0 4rem 0 0.5rem;
}
.navbar-container .navbar-icon {
	color: #fff;
	font-size: 1rem;
	margin: 0;
}

.navbar-container .navbar-title {
	color: white;
	font-size: 1.4rem;
	font-weight: 600;
}

.content-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	padding: 0rem 2.5vw;
	margin-top: 3rem;
}

.content-container .user-container {
	min-height: 200px;
	min-width: 170px;
	border-radius: 5px;
	margin: 1rem 1rem 1rem 0;
	padding: 0.5rem;
	border: 2px solid lightblue;
	display: flex;
	flex-direction: column;
}

.user-container .user-avatar {
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
	align-self: center;
	margin-top: 0.5rem;
}

.user-container .user-name {
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 1.5rem;
	text-align: center;
}

.user-container .buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 1.5rem;
}

.add-box-container {
	min-height: 200px;
	min-width: 170px;
	border-radius: 5px;
	padding: 0.5rem;
	border: 2px solid lightblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.add-box-icon {
	font-size: 2.5rem;
	color: #00bfff;
}

.add-box-text {
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 1.2rem;
	text-align: center;
	color: #00bfff;
}

/* Create Users Page */

.page-container.form-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-container {
	max-width: 850px;
	margin-left: 3vw;
	border: 2px solid lightblue;
	padding: 2rem;
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.form-container label {
	width: 50%;
	display: flex;
	flex-direction: column;
	font-size: 1.05rem;
	font-weight: 600;
}

.form-container label input {
	width: 90%;
	margin: 1rem 0;
	padding: 1rem;
	border-radius: 5px;
	border: 1px solid lightblue;
}

.submit-button {
	width: 45%;
	height: 3.5rem;
	border-radius: 5px;
	border: 2px solid #00bfff;
	font-size: 0.85rem;
	font-weight: 600;
	color: white;
	background-color: #00bfff;
	text-align: center;
	cursor: pointer;
	transition: all 0.45s ease;
	margin-top: 2rem;
}

.submit-button .fa-spinner{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.1rem;
}

.submit-button:disabled {
	background-color: grey;
	color: white;
	border: none;
}

.submit-button:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	transform: translateY(-0.25rem);
}

.fa-spin {
	font-size: 2rem;
}

/*  */

.table-container {
	overflow-x: scroll;
}

.table-heading-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1rem;
	width: 100vw;
}

.table-heading {
	font-size: 1.5rem;
	font-weight: 600;
	color: #00bfff;
}

.table-container::-webkit-scrollbar {
	height: 8px;
	background-color: lightblue;
	padding: 3px;
}

.table-container::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 5px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th,
td {
	text-align: left;
	padding: 8px 7px;
	font-size: 0.9rem;
	height: 3.5rem;
	width: 10.5vw;
	min-width: 12rem;
	max-width: 15rem;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr td:last-of-type,
tr th:last-of-type {
	min-width: 16rem; /* This is the minimum width of the last column to give space for floating actions */
}

tr .floating-actions {
	position: absolute;
	right: 0;
	width: 5rem;
	right: calc(3vw - 10px);
	background-color: white;
	height: 3.4rem;
	margin-top: 0.05rem;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.floating-actions i {
	font-size: 1.1rem;
	color: #00bfff;
	cursor: pointer;
}

.floating-actions i.red {
	color: red;
}

.table-button {
	padding: 0.5rem 1.5rem;
	margin: auto;
	margin-top: 2rem;
	font-size: 1rem;
	background-color: #00bfff;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 500;
}